
.container1 {
    display: grid;
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

.items1 {
    background-color: grey;
}

.container2 {
    display: grid;
    grid-template-rows: 25px 25px 50px 75px;
    width: 800px;
    height: 100%;
}

.items2 {
    background-color: red;
    border: 2px solid gray;
}


.container3 {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;

}

.items3 {
    background-color: aqua;
    border: 1px solid blue;
}

.container4 {
    display: grid;
    grid-template-rows: 100px 100px 100px 100px;
}

.container4 div {
    background-color: grey;
    border: 1px solid red;
}

#items4Special{
    grid-row: 1 / 3
}