
.container1 {
    display: grid;
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

.items1 {
    background-color: grey;
}

.container2 {
    display: grid;
    grid-template-rows: 25px 25px 50px 75px;
    width: 800px;
    height: 100%;
}

.items2 {
    background-color: red;
    border: 2px solid gray;
}


.container3 {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;

}

.items3 {
    background-color: aqua;
    border: 1px solid blue;
}

.container4 {
    display: grid;
    grid-template-rows: 100px 100px 100px 100px;
}

.container4 div {
    background-color: grey;
    border: 1px solid red;
}

#items4Special{
    grid-row: 1 / 3
}

.container5 {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 4fr;
    border: 3px solid green
}

.items5 {
    background-color: rgb(179, 179, 179);
    border: 1px solid black;
}

#items5Special {
    background-color: aqua;
    color: white;
}

.container6 {
    height: 500px;
    display: grid;
    grid-template-rows: repeat(7, 2fr);
    border: 2px solid aqua;
}

.items6 {
    border: 1px solid red;;
}



.container7 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3 , minmax(50px, 1fr));
    border: 2px solid blue;
}

.container7-columns {
    background-color: aqua;
    border: 1px solid black;
}

.container8 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    border: 1px solid black;
}

.container8-columns {
    background-color: orange;
    border: 1px solid black;
}

.container9 {
    width: 250px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    border: 1px solid red;
}

.container9-columns {
    background-color: rgb(115, 223, 115);
    border: 1px solid black;
}

.container10 {
    display: grid;
    grid-template-areas: "header header header sidebar"
                        "main main main sidebar"
                        "footer footer footer footer";
    border: 1px solid black;
}

.container10-header {
    grid-area: header;
    border: 1px solid blue;
        background: lightblue;
        height: 30px;
}
.container10-main {
    grid-area: main;
    border: 1px solid red;
    height: 100px;
    background: lightpink;
}
.container10-sidebar {
    grid-area: sidebar;
    border: 1px solid green;
    background: lightgreen;

}
.container10-footer {
    grid-area: footer;
    border: 1px solid orange;
    background: khaki;
}

.container11 {
    display: grid;
    grid-template-columns: 50px 50px 50px 100px;
    grid-template-rows: 25px 25px 50px;
    grid-template-areas: "a a a b"
                        "a a a b"
                        "c c d b";
}


.container11 div {
    border: 1px solid black;
}

.container11-item0 {
    grid-area: a;
    background-color: lightcoral;
    border: 1px solid red; 
}
.container11-item1 {
    grid-area: b;
    background-color: lightblue;
    border: 1px solid blue;
}
.container11-item2 {
    grid-area: c;
    background-color: lightgreen;
    border: 1px solid green
}
.container11-item3 {
    grid-area: d;
    background-color: lightyellow;
    border: yellow;
}